[Unit]
Description=Photobooth V5
After=network-online.target NetworkManager.service
Wants=network-online.target NetworkManager.service

[Service]
Type=simple
User=root
# Running as root for nmcli access and port 80/53 binding. 
# Alternatively use capabilities: CAP_NET_BIND_SERVICE, CAP_NET_ADMIN
WorkingDirectory=/opt/photobooth
ExecStartPre=/bin/sleep 3
ExecStart=/opt/photobooth/photobooth
Restart=always
RestartSec=5
Environment=StartedBySystemd=true

[Install]
WantedBy=multi-user.target
